.main {
    width: 80%;
    float: left;
}

.button-bar {
    width: 20%;
    float: left;
}

.table {
    background-color: green;
    height: 500px;
    width: 80%;
    margin: 0 auto;
    border: 1em solid black;
}

.board {
    position: relative;
    top: 4.5%;
    left: 4%;
}
.card-small {
    border: .2em solid black;
    border-radius: 10%;
    height: 80px;
    width: 56px; /*70% of height*/
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    background-color: white;
}

.card-text {
    margin: 0;
    margin-top: 15%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
}

.card-img {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.red {
    color: red;
}

.black {
    color: black;
}

.pcc_button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.pcc_button:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}