<?php
/**
 * @author mdenda
 * @date 2019-08-31
 */

use Youwe\Pcc\Block\Dashboard;

?>

<?php
/**
 * @var $block Dashboard
 */
?>
<form class="form" action="<?php echo $block->escapeHtml($block->getGameUrl()) ?>" method="post">
    <?php $block->getBlockHtml('formkey') ?>
    <fieldset class="fieldset">
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Calculator Configurations') ?></span></legend><br>
        <div class="field required">
            <label for="number" class="label">
                <span><?php /* @escapeNotVerified */ echo __('Please Choose your Card:') ?></span>
            </label>

            <div class="control">
                <select name="card" id="enquiry_mirror">
                    <?php foreach ($block->getDeckCards() as $card): ?>
                    <option value="<?php echo $card ?>"><?php echo $card ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
    </fieldset>

    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>">
                <span><?php /* @escapeNotVerified */ echo __('Let\'s Play') ?></span>
            </button>
        </div>
    </div>

</form>
