<?php
/**
 * @author mdenda
 * @date 2019-08-31
 */

use Youwe\Pcc\Block\Game;

?>

<?php /** @var $block Game */ ?>

<div>
    <p>Please Click "New Deck" to start playing</p>
    <p>Your chosen card is: <strong><?php echo $block->getUserCard(); ?></strong></p>
    <br>
    <p id="current-card-p" style="display: none">The card you've got is: <span id="current-card">Please click "GET NEW CARD" to get your first card. Good Luck!</span></p>
    <p id="message" style="display: none"> The probabilities of getting your card in the next draft is: <span id="current-percent">1.9230%</span> </p>
</div>

<div class="main">
    <div class="table">
        <div id="board" class="board">
        </div>
    </div>
</div>
<div class="button-bar">
    <div id="new-deck" class="button_cont" align="center">
        <a id="new-deck-text" class="pcc_button" href="#" onclick="newDeck()" rel="nofollow noopener">New Deck</a>
    </div>
    <br>
    <div id="new-card" class="button_cont" align="center" style="display: none">
        <a id="new-card-text" class="pcc_button" href="#" onclick="getCard()" rel="nofollow noopener">Get New Card</a>
    </div>
    <br>
    <div id="new-game" class="button_cont" align="center" style="display: none">
        <a class="pcc_button" href="<?php echo $block->getNewGameUrl() ?>" rel="nofollow noopener">New Game</a>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span id="myModal-close" class="close">&times;</span>
        <p id="modal-message"></p>
    </div>
</div>

<script type="text/javascript">
    function newDeck() {
        jQuery("#new-deck-text").html("Waiting...");
        jQuery.ajax(
            {
                url: "<?php echo $block->getNewDeckUrl() ?>",
                success: function(result){
                    jQuery("#new-deck-text").html("New Deck");

                    jQuery("#new-card").show();
                    jQuery("#current-card-p").show();
                    jQuery("#message").show();
                }
            });
        return false;
    }

    function getCard() {
        jQuery("#new-card-text").html("Waiting...");
        jQuery.ajax(
            {
                url: "<?php echo $block->getNewCardUrl($block->getUserCard()) ?>",
                success: function(result){

                    jQuery("#new-card-text").html("Get New Card");

                    var suite = result.card.charAt(0);
                    var rank = result.card.substring(1);
                    var color = "red";

                    switch (suite) {
                        case 'H':
                            suite = "&hearts;";
                            break;
                        case 'S':
                            suite = "&spades;";
                            color = "black";
                            break;
                        case 'D':
                            suite = "&diams;";
                            break;
                        case 'C':
                            suite = "&clubs;";
                            color = "black";
                            break;
                    }

                    jQuery("#board").append("<div class=\"card-small\">\n" +
                        "                <p class=\"card-text " + color + "\">" + rank + "</p>\n" +
                        "                <p class=\"card-img " + color + "\">" + suite + "</p>\n" +
                        "            </div>");

                    if (result.result !== 'Ok') {
                        jQuery("#current-card").html(result.card);
                        jQuery("#current-percent").html(result.message);
                    } else {
                        jQuery("#modal-message").html(result.message);

                        jQuery("#new-card").hide();
                        jQuery("#current-card-p").hide();
                        jQuery("#message").hide();

                        jQuery("#current-card").html("Please Click \"New Deck\" to start playing again or Click \"New Game\" to select a new card");
                        jQuery("#new-game").show();

                        jQuery("#myModal").show();
                    }



                }
            });

        return false;
    }

    (function() {
        var modal = document.getElementById("myModal");
        var span = document.getElementById("myModal-close");

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    })();
</script>

